.created-date {
  float: right;
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

.btnsize{
  padding: 14px 40px;
  height:75%;
}

.issue-name {
  font-weight: bold;
}

.issue-file {
}

.mybox {
  box-shadow: 3px 4px 0px 0px rgb(255 255 255 / 54%);
  margin-bottom: 10px;
}

.column-issue {
  float: left;
  width: 20%;
}

.background {
  background-image: linear-gradient(
    to right,
    #23262a,
    #262a2e,
    #292d32,
    #2d3136,
    #30353a,
    #30353a,
    #30353a,
    #30353a,
    #2d3136,
    #292d32,
    #262a2e,
    #23262a
  );
}

.div-style {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.box {
  margin-bottom: 10px;
}

#left {
  float: left;
  background-color: transparent;
}

#right {
  float: right;
  width: 50%;
  height: 280px;
  background-color: transparent;
}